#landingPage-carousel {
}

#landingPage-container .carousel-item {
	height: 100vh;
}

#landingPage-container .carousel-item img {
	object-fit: cover;
}

#landingPage-container {
	display: flex;
	flex-direction: column;
}
